
body{
    background-image: url(https://pa1.narvii.com/6506/d61c5a4afc47044ba3cc381bbdb64369f01ab619_hq.gif);
}

header{
    font: normal 8pt roboto;
    color: blanchedalmond;
}

div#painel{
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

input#painel{
    font: normal 50pt arial;
    background-color: rgba(216, 231, 231, 0.705);
    width: 180px;
    height: 80px;
    border-radius: 5px;
}
 
div#button{
    font: normal 24pt roboto;
    background-color: rgba(238, 238, 238, 0.568);
    color: rgb(34, 33, 29);
    border-radius: 360%;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 55px;
    text-align: center;
    line-height: 130px;
    border: 5px solid rgb(8, 68, 92)
}

select#box1{

    font: normal 15px roboto;
    background-color: rgba(212, 242, 243, 0.582);
    border: 1px solid wheat
    
}